body {
    background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?w=2000');
   background-repeat: no-repeat;
    font-family: 'Kanit', sans-serif;
  }

  header {
    background-color: black;
    color: white;
    height: 70px;
    padding: 10px;
  }

  footer {
    background-color: black;
    color: white;
    height: 50px;
    padding: 10px;
    text-align: center;
  }
  .headname {
      color: yellow;
  }
  
.mainpage {width: 1024px; margin: 0 auto;}
